<app-topbar></app-topbar>
<app-navbar></app-navbar>

<br>
<section id="dashboardSection">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10" style="border-left:1px solid rgba(0,0,0,.1)">
      <div class="row">
        <div class="col-md-8">
          
          <div>
            <h6>Instance ID: <b>{{user._id}}</b></h6>
            <h6>Welcome, <b>{{user.name}}!</b></h6>
            <h6>Email: <b>{{user.email}}</b></h6>
            <h6>Address: <b>{{user.address}}</b></h6>
            <h6>Phone: <b>{{user.phone}}</b></h6>
          </div>
          
        </div>
      </div>


      <br>

    </div>
  </div>
</section>