<section>
  <p class="lead">
    <u>Place Children</u>
  </p>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Select Child</label>
        <select *ngIf="child.length>0" (change)="childchange($event)" class="form-control">
        <option value="" disabled selected>Select Child</option>
        <option *ngFor="let item of child" [value]="item._id" >{{item.fullname}}</option>
      </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Select Driver</label>
        <select name="" id="" (change)="driverchange($event)" class="form-control">
          <option value="" disabled selected>Select Driver</option>
          <option *ngFor="let item of driver" [value]="item._id" >{{item.fullname}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input type="button" (click)="placechild()" value="Assign" class="btn btn-sm btn-primary">
      </div>
    </div>
  </div>
</section>